body
{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/Latte_and_dark_coffee.jpg"); */
  /* background-size: cover; */
  /* height: 100vh; */
  /* background-position: center; */
  text-align: center;
  font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #f7f1e3;
}
header
{
  position: relative;
}
header h1
{
  color: #000;
  font-size: 3rem;
  display: inline-block;
}
header ul
{
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 2rem;
}
li
{
  display: inline;
  margin: 1rem 2rem;
}
li a
{
  text-decoration: none;
  color: #8f8f8f;
  padding: 2rem 0;
  font-size: 1.5rem;
}
li a:hover
{
  color: #000;
}
.wiki
{
  color: #f39c12;
}
.coffee-recipe
{
  margin: 2rem 3rem;
}
.coffee-recipe h1
{
  color: #000;
  font-size: 2rem;
  width: 40rem;
  margin: 3rem auto;
}
.heading-coffee
{
  color: #3498db;
}
.coffee-recipe video
{
  border-radius: 5%;
  margin: 2rem;
}
.figure
{
  color: #000;
}
.figure img
{
  border-radius: 10%;
}
.recipe
{
  text-align: left;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
table
{
  border-collapse: collapse;
}
td
{
  border-radius: 5%;
}
/* .flat-white
{
  background-color: #dfe4ea;
} */
p
{
  color: #273c75;
}
/* .cappucino
{
  background-color: #ffcccc;
}
.latte
{
  background-color: #F8EFBA;
}
.macchiato
{
  background-color: #9AECDB;
} */
